apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: game-deployment
  template:
    metadata:
      labels:
        app: game-deployment
    spec:
      containers:
        - name: 2048-game
          image: pranavmisal1002/2048-game:v1
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
